<div class="row">
  <div
    class="d-none d-sm-block col-xl-2 col-lg-2 col-md-2 col-sm-2"
    style="overflow: auto; padding-right: 0px"
  >
    <app-left-panel
      (emitSelectedProfiles)="receiveSelectedProfiles($event)"
      (emitSelectedCalendars)="receiveSelectedCalendars($event)"
      (triggerCalendarUpdate)="fetchAllEvents()"
    ></app-left-panel>
  </div>
  <div
    [ngClass]="
      showTaskPanel
        ? 'col-xl-8 col-lg-8 col-md-8 col-sm-8'
        : 'col-xl-10 col-lg-10 col-md-10 col-sm-10'
    "
    *ngIf="!showAgenda"
  >
    <!-- <ng-template #loading> -->
    <div
      *ngIf="loading"
      class="text-center"
      style="margin-left: 40%; margin-top: 20%"
    >
      <mat-spinner aria-label="Loading..."></mat-spinner>
    </div>
    <!-- </ng-template> -->
    <div *ngIf="!loading" style="margin-top: 3px">
      <!-- custom cell template to display profile, title and time on the calendar in month view-->
      <ng-template
        #customCellTemplate
        let-day="day"
        let-locale="locale"
        let-trackBy="trackBy"
      >
        <div
          id="cell_{{ day.date | date: 'shortDate' }}"
          (dblclick)="addEvent(day)"
        >
          <div style="margin-bottom: 2px">
            <div class="cal-cell-top">
              <span class="cal-day-number">{{
                day.date | calendarDate: "monthViewDayNumber":locale
              }}</span>
            </div>

            <div
              [ngbPopover]="popContent"
              [popoverTitle]="popTitle"
              [openDelay]="500"
              triggers="mouseenter:mouseleave"
              placement="left"
              *ngFor="
                let event of getSortedEvents(day.events)
                  | slice
                    : 0
                    : ((showMoreDate | date) === (day.date | date) && showMore
                        ? undefined
                        : 2)
              "
            >
              <!-- template for event popover when hovering over -->
              <ng-template #popTitle>{{ event.title }}</ng-template>
              <ng-template #popContent>
                <app-event-popover [event]="event"></app-event-popover>
              </ng-template>
              <!-- end template -->

              <div
                mwlDraggable
                mwlDroppable
                [dropData]="{ event: event }"
                dragActiveClass="drag-active"
                *ngIf="checkLongEvent(event)"
              >
                <div class="cal-cell-content" (click)="showEventDetails(event)">
                  <div
                    class="cell-long-event"
                    style="--color: {{ event.color.primary }}"
                    [style.border-left]="
                      checkIfStartDateCell(day, event) ? 'solid 3px' : 'none'
                    "
                  >
                    <!-- to display first cell of multi-day event-->
                    <span
                      *ngIf="checkIfStartDateCell(day, event); else restcells"
                    >
                      <div
                        class="cell-profile-dot-container"
                        style="margin-right: 0px"
                        *ngIf="
                          event.assigneeList && event.assigneeList.length > 0
                        "
                      >
                        <span
                          *ngFor="let assignee of event.assigneeList"
                          class="cell-profile-dot mat-elevation-z2"
                          [style.background]="assignee.color"
                          matTooltip="{{ assignee.name }}"
                          matTooltipClass="monthTooltip"
                        ></span>
                      </div>
                      <div
                        class="cell-profile-dot-container"
                        *ngIf="
                          !event.assigneeList || event.assigneeList.length == 0
                        "
                      >
                        <span
                          matTooltip="No Assignee "
                          matTooltipClass="monthTooltip"
                        >
                          <mat-icon class="material-icons md-12"
                            >block</mat-icon
                          >
                        </span>
                      </div>
                      <span>
                        <span>
                          <mat-icon
                            class="material-icons md-13"
                            *ngIf="event.meta.eventModel.recurringModeId != 1"
                          >
                            loop
                          </mat-icon>
                          <small
                            *ngIf="!event.meta.eventModel.allDayEvent"
                            style="font-weight: 800; padding-left: 6px"
                            >{{ event.start | date: "hh:mm aa" }} -
                          </small>
                        </span>
                        <small
                          class="title"
                          style="margin-left: 3px; font-weight: 500"
                          >{{ event.title }}</small
                        >
                      </span>
                    </span>
                    <!-- to display rest of the cells of multi day event-->
                    <ng-template #restcells>
                      <div
                        class="cell-profile-dot-container"
                        style="margin: 0px"
                        *ngIf="
                          event.assigneeList && event.assigneeList.length > 0
                        "
                      >
                        <span
                          *ngFor="let assignee of event.assigneeList"
                          class="cell-profile-dot mat-elevation-z2"
                          style="visibility: hidden"
                          matTooltip="{{ assignee.name }}"
                          matTooltipClass="monthTooltip"
                        ></span>
                      </div>
                      <div
                        class="cell-profile-dot-container"
                        *ngIf="
                          !event.assigneeList || event.assigneeList.length == 0
                        "
                      >
                        <span
                          matTooltip="No Assignee "
                          matTooltipClass="monthTooltip"
                          class="mat-elevation-z2"
                        ></span>
                        <span>
                          <span>
                            <small style="font-weight: 500; padding-left: 6px">
                            </small>
                          </span>
                          <small class="title" style="margin-left: 3px"></small>
                        </span>
                      </div>
                      <span>
                        <span>
                          <small style="font-weight: 500; padding-left: 6px">
                          </small>
                        </span>
                        <small class="title" style="margin-left: 3px"></small>
                      </span>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div
                style="margin-left: 1px"
                mwlDraggable
                mwlDroppable
                [dropData]="{ event: event }"
                dragActiveClass="drag-active"
                *ngIf="!isLongEvent"
              >
                <div class="cal-cell-content" (click)="showEventDetails(event)">
                  <div
                    class="cell-title-bar"
                    style="--color: {{ event.color.primary }}"
                  >
                    <div
                      class="cell-profile-dot-container"
                      *ngIf="
                        event.assigneeList && event.assigneeList.length > 0
                      "
                    >
                      <span
                        *ngFor="let assignee of event.assigneeList"
                        class="cell-profile-dot mat-elevation-z2"
                        [style.background]="assignee.color"
                        matTooltip="{{ assignee.name }}"
                        matTooltipClass="monthTooltip"
                      ></span>
                    </div>
                    <div
                      class="cell-profile-dot-container"
                      *ngIf="
                        !event.assigneeList || event.assigneeList.length == 0
                      "
                    >
                      <span
                        matTooltip="No Assignee "
                        matTooltipClass="monthTooltip"
                      >
                        <mat-icon class="material-icons md-12">block</mat-icon>
                      </span>
                    </div>
                    <!-- <span>
                  <small style="font-weight: 500; padding-left: 6px"
                    >{{ event.start | date: "hh:mm aa" }} -
                  </small>
                </span>
                <small class="title" style="margin-left: 3px">{{
                  event.title
                }}</small> -->
                    <span>
                      <span>
                        <mat-icon
                          class="material-icons md-13"
                          *ngIf="event.meta.eventModel.recurringModeId != 1"
                        >
                          loop
                        </mat-icon>
                        <small
                          *ngIf="!event.meta.eventModel.allDayEvent"
                          style="font-weight: 800; padding-left: 6px"
                          >{{ event.start | date: "h:mm aa" }} -
                        </small>
                      </span>
                      <small
                        class="title"
                        style="margin-left: 3px; font-weight: 500"
                        >{{ event.title }}</small
                      >
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cell-show-more-text">
            <span *ngIf="day.events.length > 2" (click)="showMoreEvents(day)"
              ><strong>
                {{ day.events.length - 2 }}
                {{
                  (showMoreDate | date) === (day.date | date) && showMore
                    ? "less"
                    : "more"
                }}
              </strong>
            </span>
          </div>
        </div>
      </ng-template>

      <!-- custom event template for the week view -->
      <ng-template
        #weekEventTemplate
        let-weekEvent="weekEvent"
        let-eventClicked="eventClicked"
        let-column="column"
        let-daysInWeek="daysInWeek"
      >
        <div
          [ngbPopover]="popContent"
          [popoverTitle]="popTitle"
          [openDelay]="500"
          triggers="mouseenter:mouseleave"
          placement="left"
          container="body"
          class="week-event"
          (click)="showEventDetails(weekEvent.event)"
          style="--color: {{ weekEvent.event.color.primary }}; cursor: pointer;"
          (mwlClick)="eventClicked.emit({ sourceEvent: $event })"
        >
          <!-- template for event popover when hovering over -->
          <ng-template #popTitle>{{ weekEvent.event.title }}</ng-template>
          <ng-template #popContent>
            <app-event-popover [event]="weekEvent.event"></app-event-popover>
          </ng-template>
          <!-- end template -->

          <div class="week-event-title">
            <mwl-calendar-event-title
              [event]="weekEvent.tempEvent || weekEvent.event"
              [customTemplate]="eventTitleTemplate"
              [view]="daysInWeek === 1 ? 'day' : 'week'"
            >
            </mwl-calendar-event-title>
          </div>
        </div>
      </ng-template>

      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="recurringEventsToDisplay"
          [refresh]="refresh"
          [cellTemplate]="customCellTemplate"
          [activeDayIsOpen]="activeDayIsOpen"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
          (beforeViewRender)="updateCalendarEvents($event)"
        >
        </mwl-calendar-month-view>
        <ng-container
          *ngFor="let profile of selectedProfiles.profileId; index as i"
        >
          <div class="week-view" *ngSwitchCase="CalendarView.Week">
            <div class="week-view-profileNames">
              {{ selectedProfiles.profileName[i] }}
            </div>
            <mwl-calendar-week-view
              precision="minutes"
              [eventTemplate]="weekEventTemplate"
              [viewDate]="viewDate"
              [events]="weekViewCalendarEvents[profile]"
              [refresh]="refresh"
              [dayStartHour]="dayStartHour"
              [dayEndHour]="dayEndHour"
              (eventTimesChanged)="eventTimesChanged($event)"
              (beforeViewRender)="updateWeekViewCalendarEvents($event)"
            >
            </mwl-calendar-week-view>
          </div>
        </ng-container>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [eventTemplate]="weekEventTemplate"
          [viewDate]="viewDate"
          [events]="recurringEventsToDisplay"
          [refresh]="refresh"
          (eventTimesChanged)="eventTimesChanged($event)"
          (beforeViewRender)="updateCalendarEvents($event)"
        >
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>

  <div
    [ngClass]="
      showTaskPanel
        ? 'col-xl-8 col-lg-8 col-md-8 col-sm-8'
        : 'col-xl-10 col-lg-10 col-md-10 col-sm-10'
    "
    *ngIf="showAgenda"
    style="
      margin-top: 3px;
      border-left: solid 1px lightgrey;
      border-right: solid 1px lightgrey;
      overflow-y: auto;
      height: 90%;
    "
  >
    <app-agenda [events]="events"> </app-agenda>
  </div>
  <div
    *ngIf="showTaskPanel"
    class="d-none d-sm-block col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 mat-elevation-z5"
    style="margin-top: 1px; padding-right: 1px"
  >
    <app-to-do-list (closeTaskPanel)="closeTaskPanel()"></app-to-do-list>
  </div>
</div>
