<div class="container">
    <div class="row">  
        <div class="col-md-2">
            <mat-icon class=".material-icons.md-18">schedule</mat-icon>
          </div> 
      <div class="col-md-10">
        <span class="event-duration"
          >{{ event.start | date: "h:mm aa" }} -
          {{ event.end | date: "h:mm aa" }}</span
        >
      </div>
    </div>
    <div
      class="row"
      *ngIf="
        event.meta.eventModel.assigneeList &&
        event.meta.eventModel.assigneeList.length > 0
      "
    >
      <div class="col-md-2">
        <mat-icon class=".material-icons.md-18">people</mat-icon>
      </div>
      <div class="col-md-10">
        <span
          *ngFor="let assignee of event.assigneeList; let isLast=last"
        >{{assignee.name}}{{isLast ? '' : ', '}}</span>
      </div>
    </div>
    <div class="row" *ngIf="event.meta.eventModel.location">
      <div class="col-md-2">
        <mat-icon class=".material-icons.md-18"> place </mat-icon>
      </div>
      <div class="col-md-10">
        <div>{{ event.meta.eventModel.location }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <mat-icon class=".material-icons.md-18"> event </mat-icon>
      </div>
      <div class="col-md-10">
        <div>{{ event.meta.eventModel.calendar.name }}</div>
      </div>
    </div>
    <div class="row" *ngIf="event.meta.eventModel.description">
      <div class="col-md-2">
        <mat-icon class=".material-icons.md-18"> notes </mat-icon>
      </div>
      <div class="col-md-10">
        <div>{{ event.meta.eventModel.description }}</div>
      </div>
    </div>
    <div class="row" *ngIf="event.meta.eventModel.eventStopwatch">
      <div class="col-md-2">
        <mat-icon class=".material-icons.md-18"> timer </mat-icon>
      </div>
      <div class="col-md-10">
        <div>{{ event.meta.eventModel.eventStopwatch }} (hr:min:sec)</div>
      </div>
    </div>
    <!-- Display only if all Day event/ Recurring Event-->
    <div class="row" *ngIf="event.meta.eventModel.recurringModeId != 1">
      <div class="col-md-2">
        <mat-icon class=".material-icons.md-18"> loop </mat-icon>
      </div>
      <div class="col-md-10">
        <div>{{ recurringEventsArr[event.meta.eventModel.recurringModeId] }}</div>
      </div>
    </div>
  </div>
  