.container {
  text-align: center;
  padding: 0;
}

.timer-counter-label {
  margin-top: 7px;
  align-items: center;
  font-size: 27px;
}
.timer-start-text {
  font-size: 20px;
}

.timer-button-container {
  margin-top: 7px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 6px;
}

.timer-button {
  cursor: pointer;
  color: #fff;
  margin: 0px 5px;
  width: auto;
  height: auto;
}
.timer-button:hover {
  background: var(--icon-color);
}
.disabled {
  cursor: not-allowed;
  background-color: #6c757d;
}
.disabled:hover {
  cursor: not-allowed;
  background-color: #5a6268;
}
.blink {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: .25;
  }
}
