.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}
.login-panel {
  width: 33%;
  margin-top: 30px;
}
.login-title {
  color: var(--icon-color);
  text-align: center;
  font-weight: bold;
}
.carousel-container {
  width: 60%;
  text-align: center;
  margin-top: 1%;
}
.register {
  width: 40%;
  margin: auto;
}